/*
Defect Dojo API v2

Defect Dojo - Open Source vulnerability Management made easy. Prefetch related parameters/responses not yet in the schema.

API version: 2.49.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package defectdojo

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


type NotificationWebhooksAPI interface {

	/*
	NotificationWebhooksCreate Method for NotificationWebhooksCreate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiNotificationWebhooksCreateRequest
	*/
	NotificationWebhooksCreate(ctx context.Context) ApiNotificationWebhooksCreateRequest

	// NotificationWebhooksCreateExecute executes the request
	//  @return NotificationWebhooks
	NotificationWebhooksCreateExecute(r ApiNotificationWebhooksCreateRequest) (*NotificationWebhooks, *http.Response, error)

	/*
	NotificationWebhooksDeletePreviewList Method for NotificationWebhooksDeletePreviewList

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id A unique integer value identifying this notification_ webhooks.
	@return ApiNotificationWebhooksDeletePreviewListRequest
	*/
	NotificationWebhooksDeletePreviewList(ctx context.Context, id int32) ApiNotificationWebhooksDeletePreviewListRequest

	// NotificationWebhooksDeletePreviewListExecute executes the request
	//  @return PaginatedDeletePreviewList
	NotificationWebhooksDeletePreviewListExecute(r ApiNotificationWebhooksDeletePreviewListRequest) (*PaginatedDeletePreviewList, *http.Response, error)

	/*
	NotificationWebhooksDestroy Method for NotificationWebhooksDestroy

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id A unique integer value identifying this notification_ webhooks.
	@return ApiNotificationWebhooksDestroyRequest
	*/
	NotificationWebhooksDestroy(ctx context.Context, id int32) ApiNotificationWebhooksDestroyRequest

	// NotificationWebhooksDestroyExecute executes the request
	NotificationWebhooksDestroyExecute(r ApiNotificationWebhooksDestroyRequest) (*http.Response, error)

	/*
	NotificationWebhooksList Method for NotificationWebhooksList

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiNotificationWebhooksListRequest
	*/
	NotificationWebhooksList(ctx context.Context) ApiNotificationWebhooksListRequest

	// NotificationWebhooksListExecute executes the request
	//  @return PaginatedNotificationWebhooksList
	NotificationWebhooksListExecute(r ApiNotificationWebhooksListRequest) (*PaginatedNotificationWebhooksList, *http.Response, error)

	/*
	NotificationWebhooksPartialUpdate Method for NotificationWebhooksPartialUpdate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id A unique integer value identifying this notification_ webhooks.
	@return ApiNotificationWebhooksPartialUpdateRequest
	*/
	NotificationWebhooksPartialUpdate(ctx context.Context, id int32) ApiNotificationWebhooksPartialUpdateRequest

	// NotificationWebhooksPartialUpdateExecute executes the request
	//  @return NotificationWebhooks
	NotificationWebhooksPartialUpdateExecute(r ApiNotificationWebhooksPartialUpdateRequest) (*NotificationWebhooks, *http.Response, error)

	/*
	NotificationWebhooksRetrieve Method for NotificationWebhooksRetrieve

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id A unique integer value identifying this notification_ webhooks.
	@return ApiNotificationWebhooksRetrieveRequest
	*/
	NotificationWebhooksRetrieve(ctx context.Context, id int32) ApiNotificationWebhooksRetrieveRequest

	// NotificationWebhooksRetrieveExecute executes the request
	//  @return NotificationWebhooks
	NotificationWebhooksRetrieveExecute(r ApiNotificationWebhooksRetrieveRequest) (*NotificationWebhooks, *http.Response, error)

	/*
	NotificationWebhooksUpdate Method for NotificationWebhooksUpdate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id A unique integer value identifying this notification_ webhooks.
	@return ApiNotificationWebhooksUpdateRequest
	*/
	NotificationWebhooksUpdate(ctx context.Context, id int32) ApiNotificationWebhooksUpdateRequest

	// NotificationWebhooksUpdateExecute executes the request
	//  @return NotificationWebhooks
	NotificationWebhooksUpdateExecute(r ApiNotificationWebhooksUpdateRequest) (*NotificationWebhooks, *http.Response, error)
}

// NotificationWebhooksAPIService NotificationWebhooksAPI service
type NotificationWebhooksAPIService service

type ApiNotificationWebhooksCreateRequest struct {
	ctx context.Context
	ApiService NotificationWebhooksAPI
	notificationWebhooksRequest *NotificationWebhooksRequest
}

func (r ApiNotificationWebhooksCreateRequest) NotificationWebhooksRequest(notificationWebhooksRequest NotificationWebhooksRequest) ApiNotificationWebhooksCreateRequest {
	r.notificationWebhooksRequest = &notificationWebhooksRequest
	return r
}

func (r ApiNotificationWebhooksCreateRequest) Execute() (*NotificationWebhooks, *http.Response, error) {
	return r.ApiService.NotificationWebhooksCreateExecute(r)
}

/*
NotificationWebhooksCreate Method for NotificationWebhooksCreate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiNotificationWebhooksCreateRequest
*/
func (a *NotificationWebhooksAPIService) NotificationWebhooksCreate(ctx context.Context) ApiNotificationWebhooksCreateRequest {
	return ApiNotificationWebhooksCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NotificationWebhooks
func (a *NotificationWebhooksAPIService) NotificationWebhooksCreateExecute(r ApiNotificationWebhooksCreateRequest) (*NotificationWebhooks, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NotificationWebhooks
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotificationWebhooksAPIService.NotificationWebhooksCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/notification_webhooks/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.notificationWebhooksRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNotificationWebhooksDeletePreviewListRequest struct {
	ctx context.Context
	ApiService NotificationWebhooksAPI
	id int32
	limit *int32
	offset *int32
}

// Number of results to return per page.
func (r ApiNotificationWebhooksDeletePreviewListRequest) Limit(limit int32) ApiNotificationWebhooksDeletePreviewListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ApiNotificationWebhooksDeletePreviewListRequest) Offset(offset int32) ApiNotificationWebhooksDeletePreviewListRequest {
	r.offset = &offset
	return r
}

func (r ApiNotificationWebhooksDeletePreviewListRequest) Execute() (*PaginatedDeletePreviewList, *http.Response, error) {
	return r.ApiService.NotificationWebhooksDeletePreviewListExecute(r)
}

/*
NotificationWebhooksDeletePreviewList Method for NotificationWebhooksDeletePreviewList

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this notification_ webhooks.
 @return ApiNotificationWebhooksDeletePreviewListRequest
*/
func (a *NotificationWebhooksAPIService) NotificationWebhooksDeletePreviewList(ctx context.Context, id int32) ApiNotificationWebhooksDeletePreviewListRequest {
	return ApiNotificationWebhooksDeletePreviewListRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PaginatedDeletePreviewList
func (a *NotificationWebhooksAPIService) NotificationWebhooksDeletePreviewListExecute(r ApiNotificationWebhooksDeletePreviewListRequest) (*PaginatedDeletePreviewList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedDeletePreviewList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotificationWebhooksAPIService.NotificationWebhooksDeletePreviewList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/notification_webhooks/{id}/delete_preview/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNotificationWebhooksDestroyRequest struct {
	ctx context.Context
	ApiService NotificationWebhooksAPI
	id int32
}

func (r ApiNotificationWebhooksDestroyRequest) Execute() (*http.Response, error) {
	return r.ApiService.NotificationWebhooksDestroyExecute(r)
}

/*
NotificationWebhooksDestroy Method for NotificationWebhooksDestroy

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this notification_ webhooks.
 @return ApiNotificationWebhooksDestroyRequest
*/
func (a *NotificationWebhooksAPIService) NotificationWebhooksDestroy(ctx context.Context, id int32) ApiNotificationWebhooksDestroyRequest {
	return ApiNotificationWebhooksDestroyRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *NotificationWebhooksAPIService) NotificationWebhooksDestroyExecute(r ApiNotificationWebhooksDestroyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotificationWebhooksAPIService.NotificationWebhooksDestroy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/notification_webhooks/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiNotificationWebhooksListRequest struct {
	ctx context.Context
	ApiService NotificationWebhooksAPI
	firstError *time.Time
	headerName *string
	headerValue *string
	lastError *time.Time
	limit *int32
	name *string
	note *string
	offset *int32
	owner *int32
	status *string
	url *string
}

func (r ApiNotificationWebhooksListRequest) FirstError(firstError time.Time) ApiNotificationWebhooksListRequest {
	r.firstError = &firstError
	return r
}

func (r ApiNotificationWebhooksListRequest) HeaderName(headerName string) ApiNotificationWebhooksListRequest {
	r.headerName = &headerName
	return r
}

func (r ApiNotificationWebhooksListRequest) HeaderValue(headerValue string) ApiNotificationWebhooksListRequest {
	r.headerValue = &headerValue
	return r
}

func (r ApiNotificationWebhooksListRequest) LastError(lastError time.Time) ApiNotificationWebhooksListRequest {
	r.lastError = &lastError
	return r
}

// Number of results to return per page.
func (r ApiNotificationWebhooksListRequest) Limit(limit int32) ApiNotificationWebhooksListRequest {
	r.limit = &limit
	return r
}

func (r ApiNotificationWebhooksListRequest) Name(name string) ApiNotificationWebhooksListRequest {
	r.name = &name
	return r
}

func (r ApiNotificationWebhooksListRequest) Note(note string) ApiNotificationWebhooksListRequest {
	r.note = &note
	return r
}

// The initial index from which to return the results.
func (r ApiNotificationWebhooksListRequest) Offset(offset int32) ApiNotificationWebhooksListRequest {
	r.offset = &offset
	return r
}

func (r ApiNotificationWebhooksListRequest) Owner(owner int32) ApiNotificationWebhooksListRequest {
	r.owner = &owner
	return r
}

// Status of the incoming webhook  * &#x60;active&#x60; - Active * &#x60;active_tmp&#x60; - Active but 5xx (or similar) error detected * &#x60;inactive_tmp&#x60; - Temporary inactive because of 5xx (or similar) error * &#x60;inactive_permanent&#x60; - Permanently inactive
func (r ApiNotificationWebhooksListRequest) Status(status string) ApiNotificationWebhooksListRequest {
	r.status = &status
	return r
}

func (r ApiNotificationWebhooksListRequest) Url(url string) ApiNotificationWebhooksListRequest {
	r.url = &url
	return r
}

func (r ApiNotificationWebhooksListRequest) Execute() (*PaginatedNotificationWebhooksList, *http.Response, error) {
	return r.ApiService.NotificationWebhooksListExecute(r)
}

/*
NotificationWebhooksList Method for NotificationWebhooksList

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiNotificationWebhooksListRequest
*/
func (a *NotificationWebhooksAPIService) NotificationWebhooksList(ctx context.Context) ApiNotificationWebhooksListRequest {
	return ApiNotificationWebhooksListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedNotificationWebhooksList
func (a *NotificationWebhooksAPIService) NotificationWebhooksListExecute(r ApiNotificationWebhooksListRequest) (*PaginatedNotificationWebhooksList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedNotificationWebhooksList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotificationWebhooksAPIService.NotificationWebhooksList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/notification_webhooks/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.firstError != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "first_error", r.firstError, "")
	}
	if r.headerName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "header_name", r.headerName, "")
	}
	if r.headerValue != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "header_value", r.headerValue, "")
	}
	if r.lastError != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_error", r.lastError, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.note != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "note", r.note, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.owner != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "")
	}
	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNotificationWebhooksPartialUpdateRequest struct {
	ctx context.Context
	ApiService NotificationWebhooksAPI
	id int32
	patchedNotificationWebhooksRequest *PatchedNotificationWebhooksRequest
}

func (r ApiNotificationWebhooksPartialUpdateRequest) PatchedNotificationWebhooksRequest(patchedNotificationWebhooksRequest PatchedNotificationWebhooksRequest) ApiNotificationWebhooksPartialUpdateRequest {
	r.patchedNotificationWebhooksRequest = &patchedNotificationWebhooksRequest
	return r
}

func (r ApiNotificationWebhooksPartialUpdateRequest) Execute() (*NotificationWebhooks, *http.Response, error) {
	return r.ApiService.NotificationWebhooksPartialUpdateExecute(r)
}

/*
NotificationWebhooksPartialUpdate Method for NotificationWebhooksPartialUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this notification_ webhooks.
 @return ApiNotificationWebhooksPartialUpdateRequest
*/
func (a *NotificationWebhooksAPIService) NotificationWebhooksPartialUpdate(ctx context.Context, id int32) ApiNotificationWebhooksPartialUpdateRequest {
	return ApiNotificationWebhooksPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return NotificationWebhooks
func (a *NotificationWebhooksAPIService) NotificationWebhooksPartialUpdateExecute(r ApiNotificationWebhooksPartialUpdateRequest) (*NotificationWebhooks, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NotificationWebhooks
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotificationWebhooksAPIService.NotificationWebhooksPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/notification_webhooks/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchedNotificationWebhooksRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNotificationWebhooksRetrieveRequest struct {
	ctx context.Context
	ApiService NotificationWebhooksAPI
	id int32
}

func (r ApiNotificationWebhooksRetrieveRequest) Execute() (*NotificationWebhooks, *http.Response, error) {
	return r.ApiService.NotificationWebhooksRetrieveExecute(r)
}

/*
NotificationWebhooksRetrieve Method for NotificationWebhooksRetrieve

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this notification_ webhooks.
 @return ApiNotificationWebhooksRetrieveRequest
*/
func (a *NotificationWebhooksAPIService) NotificationWebhooksRetrieve(ctx context.Context, id int32) ApiNotificationWebhooksRetrieveRequest {
	return ApiNotificationWebhooksRetrieveRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return NotificationWebhooks
func (a *NotificationWebhooksAPIService) NotificationWebhooksRetrieveExecute(r ApiNotificationWebhooksRetrieveRequest) (*NotificationWebhooks, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NotificationWebhooks
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotificationWebhooksAPIService.NotificationWebhooksRetrieve")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/notification_webhooks/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNotificationWebhooksUpdateRequest struct {
	ctx context.Context
	ApiService NotificationWebhooksAPI
	id int32
	notificationWebhooksRequest *NotificationWebhooksRequest
}

func (r ApiNotificationWebhooksUpdateRequest) NotificationWebhooksRequest(notificationWebhooksRequest NotificationWebhooksRequest) ApiNotificationWebhooksUpdateRequest {
	r.notificationWebhooksRequest = &notificationWebhooksRequest
	return r
}

func (r ApiNotificationWebhooksUpdateRequest) Execute() (*NotificationWebhooks, *http.Response, error) {
	return r.ApiService.NotificationWebhooksUpdateExecute(r)
}

/*
NotificationWebhooksUpdate Method for NotificationWebhooksUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this notification_ webhooks.
 @return ApiNotificationWebhooksUpdateRequest
*/
func (a *NotificationWebhooksAPIService) NotificationWebhooksUpdate(ctx context.Context, id int32) ApiNotificationWebhooksUpdateRequest {
	return ApiNotificationWebhooksUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return NotificationWebhooks
func (a *NotificationWebhooksAPIService) NotificationWebhooksUpdateExecute(r ApiNotificationWebhooksUpdateRequest) (*NotificationWebhooks, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NotificationWebhooks
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotificationWebhooksAPIService.NotificationWebhooksUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/notification_webhooks/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.notificationWebhooksRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
