/*
Defect Dojo API v2

Defect Dojo - Open Source vulnerability Management made easy. Prefetch related parameters/responses not yet in the schema.

API version: 2.31.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package defectdojo

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type ConfigurationPermissionsAPI interface {

	/*
	ConfigurationPermissionsList Method for ConfigurationPermissionsList

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiConfigurationPermissionsListRequest
	*/
	ConfigurationPermissionsList(ctx context.Context) ApiConfigurationPermissionsListRequest

	// ConfigurationPermissionsListExecute executes the request
	//  @return PaginatedConfigurationPermissionList
	ConfigurationPermissionsListExecute(r ApiConfigurationPermissionsListRequest) (*PaginatedConfigurationPermissionList, *http.Response, error)

	/*
	ConfigurationPermissionsRetrieve Method for ConfigurationPermissionsRetrieve

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id A unique integer value identifying this permission.
	@return ApiConfigurationPermissionsRetrieveRequest
	*/
	ConfigurationPermissionsRetrieve(ctx context.Context, id int32) ApiConfigurationPermissionsRetrieveRequest

	// ConfigurationPermissionsRetrieveExecute executes the request
	//  @return ConfigurationPermission
	ConfigurationPermissionsRetrieveExecute(r ApiConfigurationPermissionsRetrieveRequest) (*ConfigurationPermission, *http.Response, error)
}

// ConfigurationPermissionsAPIService ConfigurationPermissionsAPI service
type ConfigurationPermissionsAPIService service

type ApiConfigurationPermissionsListRequest struct {
	ctx context.Context
	ApiService ConfigurationPermissionsAPI
	codename *string
	id *int32
	limit *int32
	name *string
	offset *int32
}

func (r ApiConfigurationPermissionsListRequest) Codename(codename string) ApiConfigurationPermissionsListRequest {
	r.codename = &codename
	return r
}

func (r ApiConfigurationPermissionsListRequest) Id(id int32) ApiConfigurationPermissionsListRequest {
	r.id = &id
	return r
}

// Number of results to return per page.
func (r ApiConfigurationPermissionsListRequest) Limit(limit int32) ApiConfigurationPermissionsListRequest {
	r.limit = &limit
	return r
}

func (r ApiConfigurationPermissionsListRequest) Name(name string) ApiConfigurationPermissionsListRequest {
	r.name = &name
	return r
}

// The initial index from which to return the results.
func (r ApiConfigurationPermissionsListRequest) Offset(offset int32) ApiConfigurationPermissionsListRequest {
	r.offset = &offset
	return r
}

func (r ApiConfigurationPermissionsListRequest) Execute() (*PaginatedConfigurationPermissionList, *http.Response, error) {
	return r.ApiService.ConfigurationPermissionsListExecute(r)
}

/*
ConfigurationPermissionsList Method for ConfigurationPermissionsList

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiConfigurationPermissionsListRequest
*/
func (a *ConfigurationPermissionsAPIService) ConfigurationPermissionsList(ctx context.Context) ApiConfigurationPermissionsListRequest {
	return ApiConfigurationPermissionsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedConfigurationPermissionList
func (a *ConfigurationPermissionsAPIService) ConfigurationPermissionsListExecute(r ApiConfigurationPermissionsListRequest) (*PaginatedConfigurationPermissionList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedConfigurationPermissionList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationPermissionsAPIService.ConfigurationPermissionsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/configuration_permissions/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.codename != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "codename", r.codename, "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConfigurationPermissionsRetrieveRequest struct {
	ctx context.Context
	ApiService ConfigurationPermissionsAPI
	id int32
}

func (r ApiConfigurationPermissionsRetrieveRequest) Execute() (*ConfigurationPermission, *http.Response, error) {
	return r.ApiService.ConfigurationPermissionsRetrieveExecute(r)
}

/*
ConfigurationPermissionsRetrieve Method for ConfigurationPermissionsRetrieve

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique integer value identifying this permission.
 @return ApiConfigurationPermissionsRetrieveRequest
*/
func (a *ConfigurationPermissionsAPIService) ConfigurationPermissionsRetrieve(ctx context.Context, id int32) ApiConfigurationPermissionsRetrieveRequest {
	return ApiConfigurationPermissionsRetrieveRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ConfigurationPermission
func (a *ConfigurationPermissionsAPIService) ConfigurationPermissionsRetrieveExecute(r ApiConfigurationPermissionsRetrieveRequest) (*ConfigurationPermission, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConfigurationPermission
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationPermissionsAPIService.ConfigurationPermissionsRetrieve")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/configuration_permissions/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
